body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.puppy-image {
  background-image: url(https://place-puppy.com/250x400);
  background-position: center;
  background-size: cover;
}

.bg-blue {
  background: #3079AB;
  color: white;
}

.card-white {
  background: white;
  padding: 30px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 50px;
  color: black;
  max-width: 55%;
}

.fill-page {
  min-height: 70vh;
}